.main-header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    padding:0 2rem;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background: #741188;
}
.main-header h1{
    color: white
}